.container {
	width: 100%;
	display: grid;
	grid-template:
		"planet title" 1fr
		"planet desc" 1fr
		"planet btns" 1fr
		"data data" min-content /
		2fr 1fr;
	row-gap: 23px;
	max-width: 1110px;
    flex-grow: 1;
}

.planet {
	grid-area: planet;
	display: grid;
	place-items: center;
}

.title {
	grid-area: title;
	align-self: end;
	width: min-content;
}

.desc {
	grid-area: desc;
}

.btns {
	grid-area: btns;
	display: flex;
	flex-direction: column;
	gap: 23px;
}

.data {
	grid-area: data;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 30px;
}

// width < 912px -> tablet
@media only screen and (max-width: 57em) {
	.container {
		height: auto;
		column-gap: 109px;
		grid-template:
			"planet planet" auto
			"title btns" min-content
			"desc btns" min-content
			"data data" min-content /
			2fr 1fr;
	}

	.planet {
		min-height: 460px;
	}

	.btns {
		justify-content: center;
	}

	.data {
		justify-content: space-between;
	}
}

// width < 768px -> phone
@media only screen and (max-width: 48em) {
	.container {
		height: auto;
		grid-template:
			"planet"
			"title"
			"desc"
			"data" /
			auto;
		font-size: 80%;
		gap: 16px;
		padding: 0;
	}

	.planet {
		min-height: 235px;
		margin-block: 2rem;
	}

	.title {
		font-size: 2.5rem;
		line-height: 2.7rem;
		width: auto;
		text-align: center;
	}

	.desc {
		text-align: center;
	}

	.data {
		flex-direction: column;
		gap: 10px;
	}

	.btns {
		position: fixed;
		top: 4.5rem;
		left: 0;
		width: 100vw;
		height: 51px;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-evenly;
		border-bottom: 2px solid var(--white-20);
	}
}
