// #region CSS-RESET
// 1. Use a more-intuitive box-sizing model.
*,
*::before,
*::after {
	box-sizing: border-box;
}
// 2. Remove default margin and padding
* {
	margin: 0;
	padding: 0;
}
// 3. Allow percentage-based heights in the application
html,
body,
#root {
	height: 100%;
}
// 4. Improve media defaults
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
// 5. Remove built-in form typography styles
input,
button,
textarea,
select {
	font: inherit;
}
// 6. Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
// 7. Create a root stacking context
#root {
	isolation: isolate;
}
// 8. Remove default list style
ol,
ul {
	list-style: none;
}
// #endregion

// #region FONTS
@font-face {
	font-family: Spartan;
	src: url("./assets/fonts/Spartan/Spartan-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Spartan;
	src: url("./assets/fonts/Spartan/Spartan-Regular.ttf");
	font-weight: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
// #endregion

:root {
	--white: #ffffff;
	--white-75: hsla(0, 0%, 100%, 0.75);
	--white-50: hsla(0, 0%, 100%, 0.5);
	--white-25: hsla(0, 0%, 100%, 0.25);
	--white-20: hsla(0, 0%, 100%, 0.2);
	--white-10: hsla(0, 0%, 100%, 0.1);
	--dark-blue: #070724;
	--grey: #38384f;
	--light-grey: #838391;

	--mercury-col: #419ebb;
	--venus-col: #eda249;
	--earth-col: #6f2ed6;
	--mars-col: #d14c32;
	--jupiter-col: #d83a34;
	--saturn-col: #cd5120;
	--uranus-col: #1ec2a4;
	--neptune-col: #2d68f0;

	--mercury-alt-col: #def4fc;
	--venus-alt-col: #f7cc7f;
	--earth-alt-col: #545bfe;
	--mars-alt-col: #ff6a45;
	--jupiter-alt-col: #ecad7a;
	--saturn-alt-col: #fccb6b;
	--uranus-alt-col: #65f0d5;
	--neptune-alt-col: #497efa;

	--spartan: "Spartan", sans-serif;
	--antonio: "Antonio", sans-serif;

	--active-planet-col: var(--mercury-col);

	color-scheme: dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	font-size: 16px;
}

body {
	font-family: var(--spartan);
	font-size: 0.875rem; // 14px size
	line-height: 1.5625rem; // 25px line
	color: var(--white);
	background: var(--dark-blue);

	counter-reset: tab;
}

// #region PLANET COLORS
.mercury-col {
	--planet-col: var(--mercury-col);
}
.venus-col {
	--planet-col: var(--venus-col);
}
.earth-col {
	--planet-col: var(--earth-col);
}
.mars-col {
	--planet-col: var(--mars-col);
}
.jupiter-col {
	--planet-col: var(--jupiter-col);
}
.saturn-col {
	--planet-col: var(--saturn-col);
}
.uranus-col {
	--planet-col: var(--uranus-col);
}
.neptune-col {
	--planet-col: var(--neptune-col);
}

.mercury-alt-col {
	--planet-col: var(--mercury-alt-col);
}
.venus-alt-col {
	--planet-col: var(--venus-alt-col);
}
.earth-alt-col {
	--planet-col: var(--earth-alt-col);
}
.mars-alt-col {
	--planet-col: var(--mars-alt-col);
}
.jupiter-alt-col {
	--planet-col: var(--jupiter-alt-col);
}
.saturn-alt-col {
	--planet-col: var(--saturn-alt-col);
}
.uranus-alt-col {
	--planet-col: var(--uranus-alt-col);
}
.neptune-alt-col {
	--planet-col: var(--neptune-alt-col);
}
// #endregion

// #region HEADINGS & PSEUDO-HEADINGS
.pseudo-h1,
.pseudo-h2,
.pseudo-h3,
.pseudo-h4,
h1,
h2,
h3,
h4 {
	text-transform: uppercase;
}

.pseudo-h1,
.pseudo-h2,
h1,
h2 {
	font-family: var(--antonio);
	font-weight: 500;
}

.pseudo-h1,
h1 {
	font-size: 5rem; // 80px size
	line-height: 6.4375rem; // 103px line
}

.pseudo-h2,
h2 {
	font-size: 2.5rem; // 40px size
	line-height: 3.25rem; // 52px line
	letter-spacing: -0.09375rem; // -1.5px spacing
}

.pseudo-h3,
.pseudo-h4,
h3,
h4 {
	font-family: var(--spartan);
	font-weight: bold;
	line-height: 1.5625rem; // 25px line
}

.pseudo-h3,
h3 {
	font-size: 0.75rem; // 12px size
	letter-spacing: 0.1625rem; // +2.6px spacing
}

.pseudo-h4,
h4 {
	font-size: 0.6875rem; // 11px size
	letter-spacing: 0.0625rem; // +1px spacing
}
// #endregion

button {
	--button-hover-col: #d8d8d833;

	text-transform: uppercase;
	font-family: var(--spartan);
	font-weight: bold;
	line-height: 1.5625rem; // 25px line
	font-size: 0.75rem; // 12px size
	letter-spacing: 0.1625rem; // +2.6px spacing

	cursor: pointer;
	background: none;
	background-clip: padding-box;
	padding: 0.75rem 1.75rem;
	border: 2px solid var(--button-hover-col);
	transition: background-color 300ms ease, border-color 300ms ease, scale 300ms ease;
	display: flex;
	gap: 1.75rem;

	min-width: 21.875rem; // 350px
}

button:focus-visible,
button:hover {
	background-color: var(--button-hover-col);
	scale: 1.05 1.1;
}

button::before {
	color: var(--white-50);
	counter-increment: tab;
	content: "0" counter(tab);
}

button.active {
	background-clip: border-box;
	background-color: var(--active-planet-col);
	border-color: transparent;
}

a,
a:active {
	color: inherit;
	text-decoration: inherit;
}
